
@{
    Layout = null;
}
@using PriceCalculation.Models;
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <table cellpadding="2" cellspacing="2" border="1">
     <tr>
         <th>Id</th>
         <th>Name</th>
         <th>Price</th>
         <th>Discount</th>
         <th>Buy</th>
     </tr>
        @foreach(ProductModel p in ViewBag.listProducts)
        {
            <tr>
                <td>@p.Id</td>
                <td>@p.Description</td>
                <td>@p.Price</td>
                <td>@if (p.Discount)
                {
                    <p>10% discount</p>
                }
                else
                {
                    <p>No discount</p>
                }                
                </td>
                <td align="center">@Html.ActionLink("AddToCart","OrderNow","ShoppingCart",new { id = p.Id },null)</td>
            </tr>
        }
    </table>
</body>
</html>
